@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

/* reset */
html, body{width: 100%;}

body, div, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}
body, input, textarea, select, button, table {
    font-family : 'Nanum Gothic', sans-serif;
    font-size: 14px;
    color:#333;
}
body {
    word-break: break-all;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
img, fieldset {
  border: none;
}
img {
  vertical-align: top;
}
ul, ol {
  list-style: none;
}
em, address {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}

table {
    border-spacing: 0;
}


/* index */

#wrap{
    
}

header{
   
}

.nav_logo{
    width: 15%;
    float: left;
}

.nav_area{
    margin: 0 auto;
    width: 1300px;
}

.nav_menu{
    line-height: 3;
}

.gnb_area{
    width : 1080px;
    margin:0 auto;
    text-align: right;
}

.gnb_area ul li{
    display: inline-block;
    vertical-align: middle;
    margin-left:10px;
}

.gnb_area ul li a{
    color: #000;
}

article{
    width: 100%;
    position: relative;
    min-height: 768px;
}

.main_visual{
    width : 1300px;
    margin:0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logo_area{
    text-align: center;
}
.logo_area img{

}

.search_area{
    text-align: center;
    margin-top: 40px;
}

.search_area input{
    width: 600px;
    height: 50px;
    margin-right: 25px;
}

.search_area button{
    background-color: #00276f;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 55px;
    font-family: 'Nanum Gothic';
    font-size: 1.3em;
    font-weight: bold;
}

.menu_area{
    text-align: center;
    height: 100px;
    vertical-align: middle;
    margin-top: 75px;
    margin-left: -40px;
}
.menu_area ul{

}
.menu_area li{
    
}
.inline_block{
    display: inline-block;
    padding-left: 135px;
}

footer{
    height: 90px;
    background-color: #127ba3;
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.copyright{
    margin: 0 auto;
    width: 1080px;
    padding-top: 30px;
}

.copyright p{
    color:white;
    display: inline-block;
    width: 70%;
}

.sns_menu{
    display: inline-block;
    width: 29.5%;
    text-align: right;
}

.sns_menu li{
    display: inline-block;

}

.sns_menu li img{
    width: 75%;
}


/* sub */

.sub_logo_area{
    width: 1080px;
    margin: 0 auto;
}

.sub_logo_area li{
    display: inline-block;
    vertical-align: top;
}

.content_area{
    width: 1080px;
    margin: 0 auto;
}

.content{
    width: 100%;
    display: inline-block;
}

.sorting{

}

.sorting li{
    display: inline-block;
    padding-left: 25px;
}

.sorting li a{
    color: #00276f;
    font-size: 1.1em;
    font-weight: bold;
}

.cont_list{

}

.cont_list h2{
    font-size: 1.65em;
}
.cont_list th{
    text-align: center;
}

.cont_list td{
    vertical-align: middle;
}

.cont_list td p{
    margin-top: 0.5rem;
    font-size: 0.95em;
}

.cont_list img{
    width: 55%;
}

.content_list{
    margin-top: 30px;
}

.content_list li ul{
    border-bottom: 1px solid #00276f;
}
.content_list li ul:hover{
    background-color: #D9edf7;
}

.content_list li ul li{
    display: inline-block;
    vertical-align:middle;
    margin-top: 25px;
    text-align: center;
}

.cont_img{
    width: 30%;
}
.cont_title{
    width: 41%;
}

.cont_title h2{
    font-size: 1.5em;
}
.cont_price{
    text-align: center;
    font-weight: bold;
}
.cont_score{
    text-align: center;
}

.btn_submit{
    margin-top: 25px;
    text-align: right;
}

#popup{
    width: 220px;
    height: 200px;
    background: #fff;
    color: #000;
    position: absolute;
    top: 247px;
    left: 1640px;
    text-align: center;
    border: 2px solid #00276f;

}

.page_area{
    width: 200px;
    margin: 0 auto;
    padding-top: 3rem;
}

.cpu_price_prediction{

}
.cpu_price_prediction label{
    padding-top: 2rem;
}

.cpu_result{
    text-align: center;
    margin: 0 auto;
}

.prediction_head{
}


.latest_item{
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.latest_item h2{
    text-align: center;
}

.content_view{
    border-bottom: 1px solid #00276f;
    padding-bottom: 20px;
}

.view_title{
    border-bottom: 1px solid #00276f;
    padding-bottom: 20px;
}

.content_view li{
    display: inline-block;
    vertical-align: middle;
}

.content_view ul li{
    display: block;
    padding-top: 10px;
    text-align: right;
}



.view_img{
    width: 30%;
}

.view_img img{
    width: 100%;
}
.view_info{
    width: 69%;
}
.view_info ul{
    padding-left: 10px;
}
.view_price{
    color:red;
    font-weight: bold;
    text-align: right;
    font-size: 1.3em;
}


/* teams */

.team-effect{

}

.team-effect img{
    width: 100%;
}

.team_list{
    margin: 0 auto;
    text-align: center;
}

.team-grids{
    margin-left: 73px;
}


/*effectiveness*/

.effectiveness{

}


.effectiveness img{
    width: 50%;
}

/* function */


.function{

}

.function img{
    width: 40%;
}

.function hr{
    margin-top: 25px;
}

.function h2{
    margin-bottom: 25px;
}

/* login */

.page-wrapper{
    padding:200px 0;
}

.container{
    min-width: 1200px;
    margin: 0 auto;
}

.contact-form{
    text-align: center;
    margin-bottom: 40px;
    width: 1200px;
    margin:0 auto;
}

.join_list{
    margin-top: 20px;
}
.join_list li{
    display: inline-block;
    vertical-align: middle;
    

}

.login_field{
    width: 5%;
    text-align: center;
}

.login_input{
    width: 25%;
    text-align: left;
}

.contact-form .form-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    font-size: 14px;
    border-radius: 0;
    width: 100%;
}

.login_area{
    margin-top: 25px;
}

.login_area div {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.contact-form #contact-submit {
    border: none;
    padding: 15px 0;
    width: 31%;
    margin: 0;
    background: #00276f;
    color: #fff;    
    border-radius: 10px;
}

.join_btn {
    border: none;
    padding: 15px 0;
    width: 31%;
    margin: 0;
    background: #000;
    color: #fff;
    border-radius: 10px;
}

.green{
    color: green;
}
.red{
    color: red;
}
.blue{
    color:#00276f;
}

.score_bold{
    font-weight: bold;
    font-size: 1.22em;
}

.bold{
    font-weight: bold;
}

.mt10{
    margin-top: 10px;
}

.ml10{
    margin-left: 10px;
}

.mt3rem{
    margin-top: 3rem;
}

.bgwt{
    background-color: #fff;
}