<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $('#close').click(function() {
            $('#popup').hide();
          });
        });
     </script>
</head>
<body>
    <div id="wrap">
        <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="nav_area">
                        <a class="navbar-brand nav_logo" href="../WebContent/index.html"><img src="resources/images/concat_w.png" alt="concat" width="100%"></a>
                        <!--
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        -->
    
                    <div class="collapse navbar-collapse nav_menu" id="navbarColor01">
                        <ul class="navbar-nav mr-auto mt10">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sub1.html">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sub2.html">Features</a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Join Us</a>
                            </li>
                            -->
                        </ul>
                        <!--
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        -->
                        </div>
                    </div>
                </nav>             
            </header>
        <!-- 0608 수정부분-->
        <article>
            <section class="main_visual" style="padding-top:4rem; padding-bottom:3rem;">
            </section>

            <section class="content_area">
                <div class="content">
                    <h2 class="view_title">인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                    <ul class="content_view">
                        <li class="view_img"><img src="resources/images/cpu/ryzen.jpg" alt="ryzen"></li>
                        <li class="view_info">
                            
                            <table class="table table-hover">
                                
                                <tbody>
                                    <tr>
                                        <th scope="row">소켓 구분</th>
                                        <td>인텔(소켓1151v2)</td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row">코어 형태</th>
                                        <td>옥타(8)코어</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">쓰레드 형태</th>
                                        <td>쓰레드 12개</td>
                                    </tr> 
                                    <tr>
                                        <th scope="row">동작 형태</th>
                                        <td>3.60GHz</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">캐시 메모리</th>
                                        <td>12MB</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">설계 전력</th>
                                        <td>95W</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">그래픽 카드</th>
                                        <td>인텔 UHD 630</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>350MHz</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>옵테인</td>
                                    </tr>

                                    <tr>
                                        <th scope="row"></th>
                                        <td>64비트</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>14nm</td>
                                    </tr>
                                    <tr class="table-danger">
                                        <th scope="row">가격</th>
                                        <td>450,000원</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </li>    
                    </ul>
                    
                </div>
                
                <!--
                <aside class="latest_item">
                    <h2>최근본상품</h2>
                </aside>
                -->
                
            </section>
            
        </article>
        <!-- 0608 수정부분 //-->
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="resources/images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>