<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
</head>
<body>
    
    <div id="wrap">
            <header>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <div class="nav_area">
                            <a class="navbar-brand nav_logo" href="../WebContent/index.html"><img src="resources/images/concat_w.png" alt="concat" width="100%"></a>
                            <!--
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            -->
        
                        <div class="collapse navbar-collapse nav_menu" id="navbarColor01">
                            <ul class="navbar-nav mr-auto mt10">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="sub1.html">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="sub2.html">Features</a>
                                </li>
                                <!--
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Join Us</a>
                                </li>
                                -->
                            </ul>
                            <!--
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            -->
                            </div>
                        </div>
                    </nav>             
                </header>      
        <article>
            
            <section class="main_visual">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-style: none;">
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="about.html">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="teams.html">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="effectiveness.html">effectiveness</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="function.html">function</a>
                        </li>
                        </ul>
                        
                    </div>
                </nav>
                <div class="jumbotron bgwt effectiveness" style="text-align: center;">
                    
                    <h1 class="display-3" style="font-size: 4rem;">기대효과</h1>
                    <div class="row" style="margin: 0 auto;width: 1024px;">
                        <div class="col-xs-6">
                            <p class="lead"></p>
                            <hr class="my-4">
                            <p class="lead">
                                <h2><img src="resources/images/cloud.png" alt="최신정보"></h2>
                                <h3>최신 정보</h3>
                                <p><br>웹 크롤러를 이용하여 데이터를 크롤링해옴으로써 최신 정보 활용 가능</p>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="lead"></p>
                            <hr class="my-4">
                            <p class="lead">
                                <h2><img src="resources/images/ok.png" alt="제품 추천"></h2>
                                <h3>제품 추천</h3>
                                <p><br>제품 선택에 있어서 고민이 있는 이용객들에게 선호도를 반영한 제품 추천</p>
                            </p>
                        </div>
                        <div class="col-xs-6">
                                <p class="lead"></p>
                                <hr class="my-4">
                                <p class="lead">
                                    <h2><img src="resources/images/star.png" alt="사용자 선호도 고려"></h2>
                                    <h3>사용자 선호도 고려</h3>
                                    <p><br>예측 불가한 부품의 가격 변동 때문에 혼란스러운 사용자에게<br>제품 추천을 통한 합리적인 선택 도움</p>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p class="lead"></p>
                                <hr class="my-4">
                                <p class="lead">
                                    <h2><img src="resources/images/time.png" alt="시간 절약" ></h2>
                                    <h3>시간 절약</h3>
                                    <p><br>견적을 맞추는 것에 있어서 부품을 하나씩 비교하며 선택하는 데에 걸리는 시간을 단축</p>
                                </p>
                            </div>
                    </div>


                </div>
                
            </section>
        </article>
        
        
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="resources/images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>