<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
</head>
<body>
    
    <div id="wrap">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="nav_area">
                    <a class="navbar-brand nav_logo" href="../WebContent/index.html"><img src="resources/images/concat_w.png" alt="concat" width="100%"></a>
                    <!--
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    -->

                <div class="collapse navbar-collapse nav_menu" id="navbarColor01">
                    <ul class="navbar-nav mr-auto mt10">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub1.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub2.html">Features</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Join Us</a>
                        </li>
                        -->
                    </ul>
                    <!--
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                    </div>
                </div>
            </nav>             
        </header>    
        <article>
            
            <section class="main_visual">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-style: none;">
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="teams.html">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="effectiveness.html">effectiveness</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="function.html">function</a>
                        </li>
                        </ul>
                        
                    </div>
                </nav>
                <div class="jumbotron bgwt function" style="text-align: center;">
                    
                    <h1 class="display-3" style="font-size: 4rem;">프로그램 기능</h1>
                    <div class="row" style="margin: 0 auto;width: 1024px;">
                        <div class="col-md-12">
                            <p class="lead"></p>
                            <hr class="my-4" style="margin: 2.5rem !important;">
                            <p class="lead">
                                <h2><img src="resources/images/web.png" alt="웹크롤링" style="width: 20%;"></h2>
                                <h3>웹 크롤링</h3>
                                <p><br>웹 크롤러를 이용하여 데이터를 추출을 통해 최신 정보 제공</p>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="lead"></p>
                            <hr class="my-4"  style="margin: 3.5rem !important;">
                            <p class="lead">
                                <h2><img src="resources/images/info.png" alt="견적 정보 제공" style="width: 35%;"></h2>
                                <h3>견적 정보 제공</h3>
                                <p><br>사용자 입력에 따른 조립된 컴퓨터 견적 제공</p>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="lead"></p>
                            <hr class="my-4"  style="margin: 3.5rem !important;">
                            <p class="lead">
                                <h2><img src="resources/images/favorite.png"  alt="제품 추천"></h2>
                                <h3>제품 추천</h3>
                                <p><br>머신러닝을 이용하여 가성비 점수 출력<br>
                                제품별 유사도를 이용한 유사 제품 추천<br>
                                사용자 선호도를 반영하여 비슷한 제품 추천
                                </p>
                            </p>
                        </div>
                        
                    </div>


                </div>
                
            </section>
        </article>
        
        
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="resources/images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>