<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인 - CPU</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $('#close').click(function() {
            $('#popup').hide();
          });
        });
     </script>
</head>
<body>
    <div id="wrap">
        <header>
            <div class="gnb_area">
                <ul>
                    <li><a href="login.html">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">테스트</a></li>
                </ul>
            </div>           
        </header>    
        <article>
            <section class="main_visual">
                <ul class="sub_logo_area">
                    <li style="width: 30%;"><a href="index.html" title="test"><img src="images/concat.png" alt="test" width="90%"></a></li>
                    <li class="search_area" style="width: 69%;">
                        <input type="text" placeholder="  제품명을 입력하세요." title="검색어 입력" name="" id="" class="">
                        <button>검색</button>
                    </li>
                </ul>
                
                <!--
                <ul class="button_base b02_slide_in">
                    <li><a href="" class="btn1">CPU</a></li>               
                    <li><a href="" >CPU</a></li>
                    <li><a href="" class="btn3">CPU</a></li>
                </ul>-->
                
                <ul class="menu_area">
                    <li class="inline_block">
                        <ul class="button_base b02_slide_in">
                            <li><a href="" class="btn1">CPU</a></li>               
                            <li><a href="" >CPU</a></li>
                            <li><a href="" class="btn3">CPU</a></li>
                        </ul>
                    </li>
                    <li class="inline_block">
                        <ul class="button_base b02_slide_in">
                            <li><a href="" class="btn1">메인보드</a></li>               
                            <li><a href="" >메인보드</a></li>
                            <li><a href="" class="btn3">메인보드</a></li>
                        </ul>
                    </li>
                    <li class="inline_block">
                        <ul class="button_base b02_slide_in">
                            <li><a href="" class="btn1">VGA</a></li>               
                            <li><a href="" >VGA</a></li>
                            <li><a href="" class="btn3">VGA</a></li>
                        </ul>
                    </li>
                    <li class="inline_block">
                            <ul class="button_base b02_slide_in">
                                <li><a href="" class="btn1">RAM</a></li>               
                                <li><a href="" >RAM</a></li>
                                <li><a href="" class="btn3">RAM</a></li>
                            </ul>
                        </li>
                    <li class="inline_block">
                        <ul class="button_base b02_slide_in">
                            <li><a href="" class="btn1">SSD</a></li>               
                            <li><a href="" >SSD</a></li>
                            <li><a href="" class="btn3">SSD</a></li>
                        </ul>
                    </li>
                    <li class="inline_block">
                        <ul class="button_base b02_slide_in">
                            <li><a href="" class="btn1">HDD</a></li>               
                            <li><a href="" >HDD</a></li>
                            <li><a href="" class="btn3">HDD</a></li>
                        </ul>
                    </li>
                    <li class="inline_block">
                        <ul class="button_base b02_slide_in">
                            <li><a href="" class="btn1">OTHER</a></li>               
                            <li><a href="" >OTHER</a></li>
                            <li><a href="" class="btn3">OTHER</a></li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section class="content_area">
                <div class="content">
                    <ul class="sorting">
                        <li><a href="#">판매량순</a></li>
                        <li><a href="#">낮은가격순</a></li>
                        <li><a href="#">높은가격순</a></li>
                        <li><a href="#">가성비순</a></li>
                    </ul>
                    <ul class="content_list">
                        <li style="border-top: 1.5px solid #00276f;">
                            <ul>
                                <li class="cont_img"><a href="view.html"><img src="images/cpu/ryzen.jpg" alt="ryzen"></a></li>
                                <li class="cont_title"><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                    <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p> 
                                </li>
                                <li class="cont_price">450,000원</li>
                                <li class="cont_score blue score_bold">10점</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="cont_img"><img src="images/cpu/intel.jpg" alt="test"></li>
                                <li class="cont_title"><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                    <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p> 
                                </li>
                                <li class="cont_price">450,000원</li>
                                <li class="cont_score green score_bold">8점</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="cont_img"><img src="images/cpu/ryzen2.jpg" alt="test"></li>
                                <li class="cont_title"><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                    <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p> 
                                </li>
                                <li class="cont_price">450,000원</li>
                                <li class="cont_score red score_bold">-10점</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="cont_img"><img src="images/cpu/intel2.jpg" alt="test"></li>
                                <li class="cont_title"><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                    <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p> 
                                </li>
                                <li class="cont_price">450,000원</li>
                                <li class="cont_score red score_bold">-5점</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="cont_img"><img src="images/cpu/intel2.jpg" alt="test"></li>
                                <li class="cont_title"><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                    <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p> 
                                </li>
                                <li class="cont_price">450,000원</li>
                                <li class="cont_score green score_bold">5점</li>
                            </ul>
                        </li>
                        <li>
                                <ul>
                                    <li class="cont_img"><img src="images/danawa_logo.png" alt="test"></li>
                                    <li class="cont_title"><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                        <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p> 
                                    </li>
                                    <li class="cont_price">450,000원</li>
                                    <li class="cont_score score_bold">0점</li>
                                </ul>
                            </li>
                    </ul>
                </div>
                
                <!--
                <aside class="latest_item">
                    <h2>최근본상품</h2>
                </aside>
                -->
                <div id="popup">
                    <div style="height:200px;">
                        <div style="padding: 20px 20px; background: #00276f;color: #fff;font-weight: bold;font-size: 1.2em;">
                        추천순 기준
                        </div>
                        <div style="padding: 20px 20px;">
                        -10점부터 +10점까지의 점수가 있으며 수치가 높을수록 좋은 가성비를 뜻합니다.
                        </div>     
                        <div id="close" style="width:100px; margin:auto; color: #00276f;font-weight: bold">
                            close
                        </div>   
                    </div>
                     
                </div>
            </section>
            
        </article>
     
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>