<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

</head>
<body>
    
    <div id="wrap">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="nav_area">
                    <a class="navbar-brand nav_logo" href="../WebContent/index.html"><img src="resources/images/concat_w.png" alt="concat" width="100%"></a>
                    <!--
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    -->

                <div class="collapse navbar-collapse nav_menu" id="navbarColor01">
                    <ul class="navbar-nav mr-auto mt10">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub1.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub2.html">Features</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Join Us</a>
                        </li>
                        -->
                    </ul>
                    <!--
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                    </div>
                </div>
            </nav>             
        </header>  
        <article>
            <section class="main_visual">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" style="width:89%;">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="width: 10%;">Search</button>
                </form>
                <table class="table table-hover mt3rem cont_list">  
                    <tbody>
                        <tr>
                            <th scope="row"><a href="view.html"><img src="resources/images/cpu/ryzen.jpg" alt="ryzen"></a></th>
                            <td><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p>
                            </td>
                            <td class="cont_price">450,000원</td>
                            <td class="cont_score green score_bold">52%</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="view.html"><img src="resources/images/cpu/intel.jpg" alt="intel"></a></th>
                            <td><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p>
                            </td>
                            <td class="cont_price">450,000원</td>
                            <td class="cont_score blue score_bold">33%</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="view.html"><img src="resources/images/cpu/ryzen2.jpg" alt="ryzen"></a></th>
                            <td><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p>
                            </td>
                            <td class="cont_price">450,000원</td>
                            <td class="cont_score red score_bold">12%</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="view.html"><img src="resources/images/cpu/intel2.jpg" alt="intel"></a></th>
                            <td><h2>인텔 코어i7-9세대 9700K(커피레이크-R) (정품)</h2>
                                <p>인텔(소켓1151v2) / 14nm / 옥타(8)코어 / 쓰레드 8개 / 3.60GHz / 12MB / 64비트 / 95W / 인텔 UHD 630 / 350MHz / 옵테인</p>
                            </td>
                            <td class="cont_price">450,000원</td>
                            <td class="cont_score red score_bold">6%</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="page_area">
                    <ul class="pagination">
                        <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </div> 
            </section>
            
        </article>
        <!--
        <div id="popup">
            <div style="height:200px;">
                <div style="padding: 20px 20px; background: #00276f;color: #fff;font-weight: bold;font-size: 1.2em;">
                추천순 기준
                </div>
                <div style="padding: 20px 20px;">
                -10점부터 +10점까지의 점수가 있으며 수치가 높을수록 좋은 가성비를 뜻합니다.
                </div>     
                <div id="close" style="width:100px; margin:auto; color: #00276f;font-weight: bold">
                    close
                </div>   
            </div>
        -->
        </div>
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="resources/images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>