<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

</head>
<body>
    
    <div id="wrap">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="nav_area">
                    <a class="navbar-brand nav_logo" href="../WebContent/index.html"><img src="resources/images/concat_w.png" alt="concat" width="100%"></a>
                    <!--
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    -->

                <div class="collapse navbar-collapse nav_menu" id="navbarColor01">
                    <ul class="navbar-nav mr-auto mt10">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub1.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub2.html">Features</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Join Us</a>
                        </li>
                        -->
                    </ul>
                    <!--
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                    </div>
                </div>
            </nav>             
        </header>     
        <article>
            <section class="main_visual">
                <h2>CPU 가격 예측해보기</h2>
                <div class = "form-group cpu_price_prediction">
                    <label class="col-form-label" for="inputDefault">코어 개수</label>
                    <input type="text" class="form-control" placeholder="코어 개수를 입력하세요." id="inputDefault">
                    <label class="col-form-label" for="inputDefault">쓰레드 개수</label>
                    <input type="text" class="form-control" placeholder="쓰레드 개수를 입력하세요." id="inputDefault">
                    <label class="col-form-label" for="inputDefault">클럭 속도</label>
                    <input type="text" class="form-control" placeholder="클럭 속도를 입력하세요." id="inputDefault">
                    <label class="col-form-label" for="inputDefault">캐시 메모리</label>
                    <input type="text" class="form-control" placeholder="캐시 메모리를 입력하세요." id="inputDefault">
                    <div class="btn_submit">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="card bg-light mb-3 cpu_result" style="max-width: 20rem;">
                    <div class="card-header prediction_head">예측 결과</div>
                    <div class="card-body">
                    
                        <p class="card-text">예측된 가격은 [430,000]원입니다.</p>
                    </div>
                </div>
                
            </section>
        </article>
     
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="resources/images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>