<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champagne : 샴페인</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/btn.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
</head>
<body>
    
    <div id="wrap">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="nav_area">
                    <a class="navbar-brand nav_logo" href="../WebContent/index.html"><img src="resources/images/concat_w.png" alt="concat" width="100%"></a>
                    <!--
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    -->

                <div class="collapse navbar-collapse nav_menu" id="navbarColor01">
                    <ul class="navbar-nav mr-auto mt10">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub1.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sub2.html">Features</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Join Us</a>
                        </li>
                        -->
                    </ul>
                    <!--
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                    </div>
                </div>
            </nav>             
        </header>     
        <article>
            
            <section class="main_visual">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-style: none;">
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Intro</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="teams.html">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="effectiveness.html">effectiveness</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="function.html">function</a>
                        </li>
                        </ul>
                        
                    </div>
                </nav>
                <div class="jumbotron bgwt" style="text-align: center;">
                <!-- team -->
                <!-- 0609 수정-->
                <section class="wthree-row py-md-5 py-4" style="padding-bottom: 0rem !important; padding-top: 0rem !important;">
                <!-- 0609 수정 //-->
                <div class="container">
                    <div class="py-lg-5 bg-pricemain text-center">
                        <h3 class="agile-title text-uppercase" style="color: #00276f;font-size: 3em;font-weight: bold;">
                            <img src="resources/images/concat.png" alt="concat" width="25%"><br>
                            TEAM
                        </h3>
                        <span class="w3-line"></span>
                    </div>
                    <div class="row py-5 team_list">
                        <div class="col-lg-3 col-sm-6 team-grids">
                            <div class="team-effect">
                                <img src="resources/images/ask.jpg" alt="ask" class="img-responsive">
                            </div>
                            <!-- team text -->
                            <div class="footerv2-w3ls mt-3">
                                <h4>안석경</h4>
                                <h5>An Seok Kyung</h5>
                                <h6>Front-end</h6>
                                
                            </div>
                            <!-- //team text -->
                        </div>
                        <div class="col-lg-3 col-sm-6 team-grids">
                            <div class="team-effect">
                                <img src="resources/images/lyj.jpg" alt="ask" class="img-responsive">
                            </div>
                            <!-- team text -->
                            <div class="footerv2-w3ls mt-3">
                                <h4>이용주</h4>
                                <h5>Lee Yong Joo</h5>
                                <h6>Back-end</h6>
                                
                            </div>
                            <!-- //team text -->
                        </div>
                        <div class="col-lg-3 col-sm-6 team-grids">
                            <div class="team-effect">
                                <img src="resources/images/khj.jpg" alt="ask" class="img-responsive">
                            </div>
                            <!-- team text -->
                            <div class="footerv2-w3ls mt-3">
                                <h4>김희정</h4>
                                <h5>Kim Hee Jung</h5>
                                <h6>Machine Learning</h6>
                                
                            </div>
                            <!-- //team text -->
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- //team -->
            </div>
                
            </section>
        </article>
        
        
        <footer>
            <div class="copyright">
                <p>Copyright 2019 Hanshin University Capstone Design Champagne Group. All Rights Reserved.</p>
                <ul class="sns_menu">
                    <li><a href="#" target="_blank"><img src="resources/images/facebook1_W.png" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/insta3_W.png" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="resources/images/naver2_W.png" alt="twiter"></a></li>
                </ul>
            </div>
           
        </footer>
    </div>
</body>
</html>